.App {
  text-align: center;
}

.Checkbox {
  transform: 'scaleY(0.1)';
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  width: 20%;
}

table {
  width: 60%;
  margin-top: 6vh;
  margin-bottom: 30vh;
  table-layout: 'fixed';
}

.App-header {
  background-color: #bcbec4;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
}
