.App {
  text-align: center;
}

#menu {
  position: fixed;
  top: 0;
  /* margin-top: -2.5em; */
}

th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  width: 20%;
}

table {
  width: 65%;
  margin-top: 6vh;
  margin-bottom: 5vh;
  table-layout: 'fixed';
  border: none;
  border-collapse: collapse;
}

.App-header {
  background-color: #bcbec4;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
}
